@import "normalize";
@import "grid";
@import "variaveis";


*{
    font-family: $font-principal;
    color: $cor-principal;
}
#bg_all{
    width: 100%;
    background-image: url(../../img/bg.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;

}
body{
    position: relative;
}


/* Title, tag e links socials*/
.flex--main{
    
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;;
    -webkit-box-pack: center;;
        -ms-flex-pack: center;;
            justify-content: center;


.img--bg{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .3;
}
    p.tag--main{
        color:$cor-principal;
        font-size: 14px;
        font-family: $font-secundaria;
        margin: 0 0 5px 2px ;
        text-align: left;
    }

    h1.title--main{
        font-size: 70px;
        font-family: $font-principal;
        color: $cor-principal;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: -2px;
    }

    ul.social{
        padding: 0;
        margin: 20px 0 5px 5px ;
        li{
            display: inline-block;
            margin-left: 15px;            
            
            a{
                position: relative;
                font-size: 15px;
                font-family: $font-secundaria;
                color: $cor-secundaria;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;

            &::after{
                content: " ";
                display: block;
                height: 2px;
                width: 0;
                background-color: $cor-principal;
                margin: 10px auto 0;
                -webkit-transition: width 0.3s cubic-bezier(.24,.65,.61,.88);
                transition: width 0.3s cubic-bezier(.24,.65,.61,.88);
                background-color: $cor-principal;

            }

             &:selected{
                background-color: $cor-principal;
                
            }


            &:hover::after{
                 width: calc(50% + 10px);
            }
        }



            

        }
        

        li:first-of-type{
            margin: 0;
        }
       }
}

/* Logo & Menu*/
.header{
    /* visibility: hidden;*/
    width: 100%;

    padding: 45px 150px;
    position:  absolute;
    top: 0;
    left: 0;
    .flex--header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack:  distribute;
            justify-content:  space-around;;
        -webkit-box-align: center;;
            -ms-flex-align: center;;
                align-items: center;
        -ms-flex-line-pack: justify;
            align-content: space-between;
        .header--logo{
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            img{
                width: 220px;
            }
        }

        .header--menu{
        }
        .menu--lines{
            background: $cor-principal;
            display: block;
            height: 2px;
            width: 25px;
            margin: 4px 0;
        }
    }
}
